
@{
    ViewBag.Title = "IndexAdmin";
    Layout = "~/Views/Shared/_AdminLayout1.cshtml";
}

<h2>Hello Admin</h2>
<br />
<br />
<br />
<table class="table center-aligned-table">
    <tr>
        <td>@Html.ActionLink("Kerkesat per porosi", "Kerkesa", "Admin")</td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Produktet", "Produkte", "Admin")</td>
    <tr>
    <tr>
        <td>@Html.ActionLink("User", "UserControl", "Admin")</td>
    </tr>
</table>


